@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #242425;
    color: #fff;

}
.brand{
    margin-top: -7px;
}
.brand span{
    color: aqua;

}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.menu .active{
    color: aqua;
}
.menu a:hover{
    background-color: aqua;
    color: #191c32;
    border-radius: 10px;
    transition: ease-in .5s;
    
}
.toogle-menu,
.info-content_subtitle,.info-content .sotial-networks{
    display: none;
}
.main{
    margin: 0 auto;
    width:  80vw;
    height:  80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
h1{
    font-size: clam(4vw,1em,3em);
}
span{
    color: aqua;
}
.download-cv{
    padding:  10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231,200, .69);
}
.download-cv:hover{
    background-color: white;
    box-shadow: none;
}
.main img{
    width: 350px;
    border: 7px solid aqua;
    height: 480px;
}
.about
{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
}
.about img{
    width: 100%;
    grid-column: 1/5;
}
.about-info{
    grid-column: 5/10;
    padding: 3em;
}
.about-info h2{
    font-size: 2em;
    
    color: #191c32;
}
.divider{
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 3px ;
    margin-bottom: 1.5em;
}
.about p{
    margin-bottom: 1em;
}
.portfolio{
    width: 100vw;
    color: #fff;
    background-color: #242425;

}

.portfolio-headings{
    width: 100vw;
    padding: 5em;
    
}
.portfolio-headings h2{
    font-size: 2.5em;
   

}
.portfolio .container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    height: 519px;
    background-color: #101e4b;
}
.card_img{
    width: 100%;
    height: 200px;
    max-width: 200px;
    max-height: 320px;
    margin-top: 10px;
    margin-left: 50px;
    background-image: url(/img/Login.jpg);
    background-size: cover;
    
}
.card_title{
    margin: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.card_title h2{
    margin-bottom: 5px;
}
.card_projects-links{
    display: flex;
    justify-content: space-evenly ;

}
.card_projects-links a{
    color: #fff;
    text-decoration: none;
}
.card_projects-links i{
    font-size: 1.5em;
}
.card .project-details{
    margin: 0 auto;
    width: 70%;
    margin: 1em;
    display: flex;
    align-self: center;

}
.card .project-details a{
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}
.proyect-details-content{
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: center;
    margin-top: 1em;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: aqua;
}
.footer-content h2{
    font-size: 3em;

}
.footer-content h5{
    font-size: 1.5em;
   
}
.sotial-network{
    display: flex;
    justify-content: space-evenly;
    
}
@media screen and (max-width:800px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
   
    .main img{
        width: min(70% , 280px);
        height: auto;
    }
    .info-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    

    .info-content .sotial-networks,.info-content__subtitle{
        display: block;
        
        
    }
    
    .info-content_p{
        display: none;
    }
    
    
}

